@import "tailwindcss";

:root {
  --background: #EBF2F1;
  --foreground: #100F0F;
  --beige: #F7F4EC;
  --bright-red: #F40102;
  --fuschia: #FF3781;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #EBF2F1;
    --foreground: #100F0F;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
